.App {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}
.TodoApp {
    width: 500px;
    max-width: 90vw;
    margin: auto;
    margin-top: 40px;
    padding: 8px;
    border: 1px solid #c3c0c0;
    border-radius: 3px;
    background-color: #fafbfc;
} 